@charset "UTF-8";
header {
  /* Rend le menu déroulant caché par défaut */
}
header #photos {
  background-color: white;
  height: 140px;
  display: flex;
}
header #photos #logos {
  padding: 20px;
  display: flex;
  align-items: center;
}
header #photos #logos img {
  height: 100%;
}
header #photos #poff {
  width: 100%;
}
header #photos #poff img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
header nav ul {
  display: flex;
  justify-content: space-evenly;
  background-image: radial-gradient(#B51235 0%, 80%, #5A091B);
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 1;
}
header nav ul li {
  list-style: none !important;
  color: black;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
header nav ul li a:hover {
  color: white;
}
header nav ul li:hover {
  color: white;
  text-decoration: underline;
}
header nav ul li {
  line-height: 20px;
  float: left;
  border-radius: 20px;
  color: #9feab6;
}
header nav ul li a {
  color: #9feab6;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
}
header nav ul li ul {
  display: none;
}
header nav ul li:hover ul {
  /* Affiche la dropNav au survol de la souris avec la class .drop */
  z-index: 99999;
  display: list-item !important;
  position: absolute;
  margin-top: 10px;
  margin-left: -10px;
  border: solid #B51235;
  border-radius: 20px;
  list-style: none;
}

/*****style mobile*****/
@media screen and (min-width: 320px) and (max-width: 750px) {
  header nav ul {
    flex-wrap: wrap;
  }
  header #photo {
    height: 100px;
  }
}
body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
main h2 {
  text-align: center;
}
main #derriere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
main #derriere img {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}
main #derriere #presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 80px;
  width: 80%;
  border-radius: 20px;
  background-image: radial-gradient(#B51235 0%, 80%, #5A091B);
  color: #9feab6;
  animation: animepresentation 2.5s ease forwards;
}
main #derriere #presentation p {
  text-align: center;
  font-size: 20px;
}
main #derriere #presentation span {
  font-style: italic;
}
main #derriere #presentation a {
  color: #39FF14;
  font-weight: bold;
}
@keyframes animepresentation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
main #carte {
  width: 70%;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
}
main #carte img {
  object-fit: contain;
  height: 500px;
}
main #carte h2 {
  margin: 20px;
  text-align: center;
}
main #carte .menu {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
}
main #carte .menu .choix {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 20px;
  width: 90%;
  background-color: #B51235;
  padding: 10px;
  color: #9feab6;
}
main #carte .menu .choix .title p {
  margin: 0;
  font-weight: bold;
}
main #carte .menu .choix .description {
  display: flex;
  justify-content: space-between;
}
main #carte .menu .choix .description p {
  margin: 0;
  font-style: italic;
}
main #carte .menu .portion {
  margin: 5px;
  border-radius: 20px;
  width: 30%;
  background-color: #B51235;
  color: #9feab6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-left: 60%;
}
main #carte .menu .portion .type_portion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #carte .menu .portion .type_portion p {
  margin: 0;
}
main #carte .menu .choix_poff {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 20px;
  width: 90%;
  background-color: #B51235;
  color: #9feab6;
  padding: 10px;
}
main #carte .menu .choix_poff .prix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #carte .menu .choix_poff .prix p {
  margin: 0;
  font-style: italic;
}
main #carte .menu .choix_poff .prix .choix_portion {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
main #carte .menu .choix_poff .title p {
  margin: 0;
  font-weight: bold;
}
main #carte .menu .commentaire {
  margin: 5px;
  border-radius: 20px;
  width: 90%;
  background-color: #9feab6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #carte .menu .commentaire .title p {
  margin: 0;
  font-weight: bold;
}
main #carte .menu .commentaire .description p {
  margin: 0;
  font-style: italic;
}
main #carte .menu .choix_enfant {
  display: flex;
  flex-direction: column;
  margin: 5px;
  border-radius: 20px;
  width: 90%;
  background-color: #B51235;
  color: #9feab6;
  padding: 10px;
  align-items: center;
}
main #carte .menu .choix_enfant .title p {
  font-weight: bold;
}
main #carte .menu .choix_enfant .description {
  display: flex;
  justify-content: space-between;
}
main #carte .menu .choix_enfant .description p {
  margin: 0;
  font-style: italic;
}
main #carte .menu .choix_enfant .prix {
  font-weight: bold;
  margin-top: 40px;
}
main #carte .carousel-control-prev-icon {
  position: absolute;
  left: -30%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
main #carte .carousel-control-next-icon {
  position: absolute;
  right: -30%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
main #carte h3 {
  text-align: center;
}
main .poff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  transform: scaleX(0);
  animation: transformTitle 2.5s ease forwards;
}
@keyframes transformTitle {
  to {
    transform: scaleX(1);
  }
}
main .poff .present_poff {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .poff .present_poff h2 {
  margin-bottom: 60px;
}
main .poff .present_poff .advocaat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
main .poff .present_poff .advocaat p {
  margin: 0;
  font-style: italic;
}
main .poff img {
  width: 49%;
  height: 500px;
  margin: 20px;
  object-fit: cover;
}
main .poff .choix {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .poff .choix .portion {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: relative;
  left: 63%;
}
main .poff .choix .portion p {
  margin: 0;
  font-weight: bold;
}
main .poff .choix h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
main .poff .choix .content {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
main .poff .choix .content p {
  margin: 0;
}
main .poff .choix .content .descript {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
main .poff .choix .content .quantite {
  display: flex;
  width: 35%;
  justify-content: space-around;
}
main .menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 5px;
  transform: scaleX(0);
  animation: transformTitle 2.5s ease forwards;
}
@keyframes transformTitle {
  to {
    transform: scaleX(0);
  }
}
main .menu .present_poff {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .menu .present_poff h2 {
  margin-bottom: 60px;
}
main .menu img {
  width: 49%;
  height: 650px;
  margin: 20px;
  object-fit: cover;
}
main .menu p {
  text-align: center;
}
main .menu .choix {
  display: flex;
  flex-direction: column;
  width: 50%;
}
main .menu .choix .portion {
  display: flex;
  justify-content: space-around;
  width: 40%;
  position: relative;
  left: 63%;
}
main .menu .choix .portion p {
  margin: 0;
  font-weight: bold;
}
main .menu .choix h4 {
  margin-top: 20px;
  margin-bottom: 0;
}
main .menu .choix .content {
  display: flex;
  justify-content: space-between;
}
main .menu .choix .content p {
  margin: 0;
}
main .menu .choix .content .descript {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-style: italic;
}
main .menu .choix .content .quantite {
  display: flex;
  justify-content: space-around;
}
main .menu .choix .commentaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}

#enfant {
  height: 675px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transform: scaleX(0);
  animation: transformTitle 2.5s ease forwards;
}
@keyframes transformTitle {
  to {
    transform: scaleX(1);
  }
}
#enfant .img1, #enfant .img2 {
  height: 697px;
  width: 30%;
  object-fit: cover;
}
#enfant #choix_enfant {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  justify-content: center;
}
#enfant #choix_enfant .choix_enfant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#enfant #choix_enfant .choix_enfant .title {
  font-weight: bold;
}
#enfant #choix_enfant .choix_enfant .description {
  font-style: italic;
}
#enfant #choix_enfant .choix_enfant .prix {
  font-weight: bold;
}

#contact-crepe {
  width: 80%;
}
#contact-crepe .contact .horaire, #contact-crepe .contact .numero, #contact-crepe .contact .map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 20px;
  background-color: #B51235;
  background-image: radial-gradient(#B51235 0%, 80%, #5A091B);
  color: #9feab6;
  animation: animepresentation 2.5s ease forwards;
}
@keyframes animepresentation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#contact-crepe .contact .horaire p, #contact-crepe .contact .numero p, #contact-crepe .contact .map p {
  text-align: center;
  font-size: 20px;
}
#contact-crepe .contact .horaire iframe, #contact-crepe .contact .numero iframe, #contact-crepe .contact .map iframe {
  border-radius: 20px;
  width: 80%;
  height: 200px;
  margin-bottom: 20px;
}

/*****style mobile*****/
@media screen and (min-width: 320px) and (max-width: 750px) {
  main img {
    object-fit: cover;
  }
  main #derriere #presentation {
    margin-top: 30px;
    margin-bottom: 0;
    width: 90%;
  }
  main #derriere #presentation h1 {
    text-align: center;
  }
  main h2 {
    text-align: center;
  }
  main .menu {
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  main .menu .choix {
    width: 100%;
  }
  main .menu .choix h4 {
    text-align: center;
  }
  main .menu .choix .content {
    flex-direction: column;
    align-items: center;
  }
  main .menu .choix .content .quantite {
    margin-top: 10px;
  }
  main .menu img {
    width: 100%;
    height: 200px;
    margin: 0;
  }
  main .menu .cacher {
    display: none;
  }
  main .poff {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  main .poff img {
    width: 100%;
    margin: 0;
  }
  main .poff .choix {
    width: 100%;
  }
  main .poff .choix .portion {
    width: 80%;
    left: 10%;
  }
  main .poff .choix .portion .type_portion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .poff .choix h4 {
    text-align: center;
  }
  main .poff .choix .content {
    flex-direction: column;
    align-items: center;
  }
  main .poff .choix .content .quantite {
    width: 50%;
    margin-top: 10px;
  }
  main .poff .cacher {
    display: none;
  }
  main .poff .advocaat {
    flex-direction: column;
    margin-bottom: 10px;
  }
  main #enfant {
    flex-direction: column;
    height: 738px;
  }
  main #enfant .img1, main #enfant .img2 {
    width: 100%;
    height: 180px;
  }
  main #enfant #choix_enfant {
    width: 100%;
    text-align: center;
  }
}
footer {
  height: 80px;
  margin-top: 12%;
}
footer img {
  height: 80px;
  margin-right: 20px;
}
footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-top: 0;
  height: 100px;
  background-image: radial-gradient(#B51235 0%, 80%, #5A091B);
}
footer ul li {
  font-size: 20px;
}
footer ul li a {
  color: #9feab6;
  text-decoration: none;
  font-size: 50px;
}
footer ul li a:hover {
  color: white;
}
footer ul .adresse {
  display: flex;
  color: #9feab6;
}

/*****style mobile*****/
@media screen and (min-width: 320px) and (max-width: 750px) {
  footer ul {
    padding: 0;
  }
  footer ul li {
    font-size: 15px;
  }
  footer ul li a {
    font-size: 20px;
  }
}
/* grand ecran */
@media screen and (min-width: 1500px) {
  footer {
    margin-top: 8%;
  }
}

/*# sourceMappingURL=style.css.map */
