footer{
    height: 80px;
    margin-top:50px;
    img{
        height: 80px;
        margin-right: 20px;
    }
    ul{
        display:flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        margin-top: 0;
        height: 100px;
        background-color: #e01844;
        li{
            font-size: 20px;
            a{
                color: #9feab6;
                text-decoration: none;
                font-size: 50px;;
            }
            a:hover{
                color: green;
            }
        }
        .adresse{
            display: flex;
            color: #9feab6
        }
    }
}

            /*****style mobile*****/


@media screen and (min-width:320px) and (max-width:750px){
    footer{
        ul {
            padding:0;
            li{
                font-size:15px;
                a{
                    font-size : 20px;
                }
            }
        }

    } 
}