

header{
 
    #photos{
        background-color:white;
        height: 140px;
        display: flex;
        #logos{
            padding:20px;
            display:flex;
            align-items: center;
            img{
                height: 100%;
            }
        }
        #poff{
            width: 100%;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }      
    }
  
    nav ul {
        display:flex;
        justify-content: space-evenly;    
        background-color: $color_primary;
        padding:0;
        margin-top:0;
        margin-bottom: 0;
        z-index:1;

        li {
            list-style:none !important;
            color:black;
            padding:10px;
            font-size:20px;
            text-decoration:none;
            a:hover {
                color: white;
            }
        }
        li:hover{
            color: white;
            text-decoration: underline;
        }
    }

    nav ul li {
        line-height:20px;
        float:left;
        background-color: $color_primary;
        border-radius: 20px;
        color:$color_secondary;

        a {
            color:$color_secondary;
            padding:10px;
            font-size:20px;
            text-decoration:none;
        }
    }
    
    nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */

    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
        z-index:99999;
        display:list-item !important;
        position:absolute;
        margin-top:10px;
        margin-left:-10px;
        border: solid $color_primary;
        border-radius:20px;
        list-style: none;
    }
    
}

            /*****style mobile*****/

@media screen and (min-width:320px) and (max-width:750px){
    header{
        
        nav ul{
            flex-wrap: wrap;
        }
        #photo{
            height: 100px;
        }
       

    } 
}

