
 body{
    margin: 0;   
   
} 
 
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #derriere{
        display:flex;
        flex-direction:column;
        align-items: center;
        img{
            top:0;
            position: fixed;
            height: 100%;
            width: 100%;
            z-index:-1
        }
    
     
        #presentation{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top:140px;
            margin-bottom: 80px;
            width: 80%;
            border-radius:20px;
            background-color:$color_primary;
            box-shadow: 10px 5px 5px $color_secondary;
            color: $color_secondary;
            p{
                text-align: center;
                font-size: 20px;;
            }
            span{
                font-style: italic;
            }
            a{
                color: #39FF14;
                font-weight: bold;
            }
        }
    
    }
    
    .image_galerie{
        margin:20px;
            figcaption{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    margin-top:20px;
                    margin-bottom: -20px;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
    }
    

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 8%;
        margin-top:20px;
        border: solid $color_primary;
        border-radius:20px;
        background-color:$color_primary;
        box-shadow: 10px 5px 5px $color_secondary;
        color:$color_secondary ;
        p{
            text-align: center;
            font-size: 20px;;
        }

    }

    .container{
        width: 70%;
        position: relative;
        top:50px;
        margin-bottom: 100px;
        img{
            object-fit: contain;
            height: 500px;
        }
       
        h2{
            margin: 20px;
            text-align: center;
        }
        .menu{
            background-color: $color_primary_light;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 20px;
            padding:20px;

            .choix{
                display: flex;
                flex-direction: column;
                margin: 5px;
                border-radius: 20px;
                width: 90%;
                background-color: $color_primary;
                padding:10px;
                color: $color_secondary;
                .title p{
                    margin:0;
                    font-weight: bold;
                }
                .description{
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin:0;
                        font-style: italic;
                    }

                }
                
            }
            .portion{
                margin: 5px;
                border-radius: 20px;
                width: 30%;
                background-color: $color_primary;
                color: $color_secondary;
                padding:10px;
                display: flex;
                justify-content: space-between;
                margin-left: 200px;
                margin-left: 60%;
                .type_portion{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    p{
                        margin: 0;
                    }
                }
            }
            .choix_poff{
                display: flex;
                flex-direction: column;
                margin: 5px;
                border-radius: 20px;
                width: 90%;
                background-color: $color_primary;
                color: $color_secondary;
                padding:10px;
                .prix{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    p{
                       
                        margin:0;
                        font-style: italic;
                    }
                    .choix_portion{
                        display: flex;
                        width: 30%;
                        justify-content:space-between;
                        
                        
                    }
                }
                .title p{
                    margin:0;
                    font-weight: bold;
                }
                
                
                
            }
            .commentaire{
                margin: 5px;
                border-radius: 20px;
                width: 90%;
                background-color: $color_secondary;
                padding:10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title p{
                    margin:0;
                    font-weight: bold;
                }
                .description p{
                    margin:0;
                    font-style: italic;
                }
                
            }
            .choix_enfant{
                display: flex;
                flex-direction: column;
                margin: 5px;
                border-radius: 20px;
                width: 90%;
                background-color: $color_primary;
                color: $color_secondary;
                padding:10px;
                align-items: center;
                .title p{
                    font-weight: bold;
                }
                .description{
                    display: flex;
                    justify-content: space-between;
                    p{
                        margin:0;
                        font-style: italic;
                    }

                }
                .prix{
                    font-weight: bold;
                    margin-top: 40px;;
                }

            }

           

        }
      
        .carousel-control-prev-icon {
            position: absolute;
            left:-30%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
           }
           
        .carousel-control-next-icon {
            position: absolute;
            right: -30%;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
        
        h3{
        text-align: center;
        }
    }
   
    .poff{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 5px;
        .present_poff{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 60px;
            }
            .advocaat{
                display: flex;
                justify-content:space-between;
                align-items: center;
                width: 100%;
                p{
                    margin:0;
                    font-style: italic;
                }
            }
        }
        img{
            width: 49%;
            height: 500px;
            margin:20px;
            object-fit: cover;
        }
      
        .choix{
            display: flex;
            flex-direction: column;
            width: 50%;
            .portion{
                display: flex;
                justify-content: space-around;
                width: 40%;
                position: relative;
                left: 63%;
                p{
                    margin:0;
                    font-weight: bold;
                }
            }
            
            h4{
                margin-top:20px;
                margin-bottom:0
            }
            .content{
                display:flex;
                justify-content: space-between;
                p{
                    margin:0;
                }
                .descript{
                    display:flex;
                    flex-direction: column;
                    align-items: baseline;
                }
                .quantite{
                    display: flex;
                    width: 35%;
                    justify-content: space-around;
                }
            }

        }
    }

    .menu{
        display: flex;
        flex-direction: column;
       
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 5px;
        .present_poff{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin-bottom: 60px;
            }
        }
        img{
            width: 49%;
            height: 500px;
            margin:20px;
            object-fit: cover;
        }
        p{
            text-align: center;
        }
        .choix{
            display: flex;
            flex-direction: column;
            width: 50%;
            .portion{
                display: flex;
                justify-content: space-around;
                width: 40%;
                position: relative;
                left: 63%;
                p{
                    margin:0;
                    font-weight: bold;
                }
            }
            
            h4{
                margin-top:20px;
                margin-bottom:0
            }
            .content{
                display:flex;
                justify-content: space-between;
                p{
                    margin:0;
                }
                .descript{
                    display:flex;
                    flex-direction: column;
                    align-items: baseline;
                    font-style: italic;
                }
                .quantite{
                    display: flex;
                    justify-content: space-around;
                }
            }

            .commentaire{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10%;
            }

        }

    }
    

    
}

/*****style mobile*****/

@media screen and (min-width:320px) and (max-width:750px){
    main{
        height: 800px;
        img{
            object-fit: cover;
        }
    }
}


    

   

